*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-bar{
    background-color: var(--title-bar-bg);
    border-bottom: 1px solid var(--title-bar-border-color);
    width: 100%;
    height: var(--title-bar-height);
}

.content{
    width: 100%;
    height: calc(100% - var(--title-bar-height) - var(--status-bar-height));
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .activity-bar{
    height: 100%;
    flex-shrink: 0;
    width: var(--activity-bar-width);
    background-color: var(--activity-bar-bg);
    border-right: 1px solid var(--activity-bar-border-color);
}

.content .side-bar{
    height: 100%;
    flex-shrink: 0;
    width: var(--side-bar-width);
    background-color: var(--side-bar-bg);
    border-right: 1px solid var(--side-bar-border-color);
}

.content .side-bar .header{
    width: 100%;
    height: 35px;
    padding: 0 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.content .side-bar .header .title{
    padding-left: 12px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Segoe WP';
    color: var(--side-bar-color);
}

.content .side-bar .header .icon{
    color: var(--icon-foreground);
    font-size: 16px;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    background-color: transparent;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background-color .1s ease;
    cursor: pointer;
}

.content .side-bar .pane{
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid var(--side-bar-border-color);
}

.content .side-bar .pane .pane-header{
    height: var(--side-bar-pane-header-height);
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.content .side-bar .pane .pane-header .icon{
    margin: 0 2px;
    font-size: 16px;
    color: var(--icon-foreground);
    pointer-events: none;
}

.content .side-bar .pane .pane-header .title{
    color: var(--header-foreground-color);
    font-size: 11px;
    font-weight: bolder;
    font-family: 'Segoe WP';
    pointer-events: none;
}

.content .side-bar .pane .pane-content[data-items="1"]{--item-count:1}
.content .side-bar .pane .pane-content[data-items="2"]{--item-count:2}
.content .side-bar .pane .pane-content[data-items="3"]{--item-count:3}
.content .side-bar .pane .pane-content[data-items="4"]{--item-count:4}
.content .side-bar .pane .pane-content[data-items="5"]{--item-count:5}
.content .side-bar .pane .pane-content[data-items="6"]{--item-count:6}
.content .side-bar .pane .pane-content[data-items="7"]{--item-count:7}
.content .side-bar .pane .pane-content[data-items="8"]{--item-count:8}
.content .side-bar .pane .pane-content[data-items="9"]{--item-count:9}
.content .side-bar .pane .pane-content[data-items="10"]{--item-count:10}

.content .side-bar .pane .pane-content{
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content .side-bar .pane .pane-content:not(.expanded){
    max-height: 0px;
}

.content .side-bar .pane .pane-content .pane-item{
    height: var(--side-bar-pane-item-height);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    padding-left: 22px;
    cursor: pointer;
    transition: background-color .1s ease;
}

.content .side-bar .pane .pane-content .pane-item.active{
    background-color: var(--side-bar-pane-item-selected-bg);
}

.content .side-bar .pane .pane-content .pane-item:hover:not(.active){
    background-color: var(--side-bar-pane-item-hover-bg);
}

.content .side-bar .pane .pane-content .pane-item img{
    margin-right: 6px;
    max-width: 16px;
    max-height: 22px;
    object-fit: contain;
    pointer-events: none;
}

.content .side-bar .pane .pane-content .pane-item .name{
    line-height: var(--side-bar-pane-item-height);
    color: var(--side-bar-color);
    font-family: 'Segoe WP';
    font-size: 13px;
    pointer-events: none;
}

.content .side-bar .pane .pane-content .pane-item .close-action,
.content .side-bar .pane .pane-content .pane-item .arrow{
    width: 22px;
    aspect-ratio: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .1s ease;
    pointer-events: none;
}

.content .side-bar .pane .pane-item-children.expanded::after{
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    height: 100%;
}

.content .side-bar .pane .pane-item-children.layer-1.expanded::after{
    background-color: var(--side-bar-directory-line-layer-1);
    left: 32px;
}

.content .side-bar .pane .pane-item-children.layer-2.expanded::after{
    background-color: var(--side-bar-directory-line-layer-2);
    left: 44px;
}

.content .side-bar .pane .pane-item-children.layer-3.expanded::after{
    background-color: var(--side-bar-directory-line-layer-3);
    left: 58px;
}

.content .side-bar .pane .pane-content .pane-item .arrow{
    opacity: 1 !important;
}

.content .side-bar .pane .pane-content .pane-item .arrow i{
    transform: rotate(-90deg);
    transition: transform .1s ease !important;
    will-change: transform;
}

.content .side-bar .pane .pane-content .pane-item.expanded .arrow i{
    transform: rotate(0deg);
}

.content .side-bar .pane .pane-content .pane-item:hover .close-action{
    opacity: 1;
    pointer-events: all;
}

.content .side-bar .pane .pane-content .pane-item .close-action i,
.content .side-bar .pane .pane-content .pane-item .arrow i{
    color: var(--icon-foreground);
    transition: color .1s ease;
    pointer-events: none;
}

.content .side-bar .pane .pane-content .pane-item .arrow i{
    transition: none !important;
}

.content .side-bar .pane .pane-content .pane-item:hover .close-action:hover i{
    color: var(--side-bar-color);
}

.content .side-bar .pane .pane-content .pane-item.directory .pane-item-children{
    width: 100%;
    height: fit-content;
}

.content .side-bar .pane .pane-content .pane-item-children.layer-1 .close-action,
.content .side-bar .pane .pane-content .pane-item-children.layer-1 .arrow{margin-left: 12px;}
.content .side-bar .pane .pane-content .pane-item-children.layer-2 .close-action,
.content .side-bar .pane .pane-content .pane-item-children.layer-2 .arrow{margin-left: 24px;}
.content .side-bar .pane .pane-content .pane-item-children.layer-3 .close-action,
.content .side-bar .pane .pane-content .pane-item-children.layer-3 .arrow{margin-left: 36px;}

.content .side-bar .header .icon:hover{
    background-color: var(--icon-foreground-hover-bg);
}

.content .editor{
    flex: 1;
    height: 100%;
    background-color: var(--editor-bg);
}

.status-bar{
    background-color: var(--status-bar-bg);
    border-top: 2px solid var(--status-bar-border-color);
    width: 100%;
    height: var(--status-bar-height);
}