/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: 'Poppins', sans-serif;
}

.spacer{
    width:100%;
    background-color: transparent;
    height:25px;
}

canvas{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

#menu{
    pointer-events: all;
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: #505050;
    z-index: 200;
    overflow: auto;
}

#menu::-webkit-scrollbar{width:0;}

#menu #clear-btn{
    margin-left: 15px;
    width: calc(100% - 30px);
    margin-top: 10px;
    border-radius: 6px;
    background-color: rgb(204, 85, 85);
    color:white;
    pointer-events: all;
    height: 35px;
    border: 2px solid transparent;
    transition: all .4s ease;
}

#menu #clear-btn:hover{
    background-color: rgb(139, 58, 58);
}

#menu .wrapper{
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    height: fit-content;
}

#menu .wrapper span{
    flex: 1;
    color:white !important;
}

#menu .wrapper span.large{
    flex: 2 !important;
}

#menu .wrapper input{
    flex: 1;
    pointer-events: all;
    color:white;
}

#menu .wrapper input[type="number"]{
    max-width: 60px;
}

#menu .wrapper input[type="number"]{
    background-color: #404040;
    border-radius: 6px;
    color:white !important;
    text-align: center;
    border:2px solid transparent;
    outline:none !important;
}

#menu .menu-category{
    margin-left: 15px;
    margin-top: 10px;
    width: calc(100% - 30px);
    background-color: #101010;
    border-radius: 6px;
    padding: 0px 0px 12px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#menu .menu-category-title{
    height: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    background-color: #202020;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 2px solid #303030;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#menu #composite-select{
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 6px;
    pointer-events: all;
    background-color: #303030;
    color:white;
    outline:none;
    border:none;
    padding: 0px 8px 0px 8px;
    width: calc(100% - 30px);
    height: 40px;
}

#menu #header{
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    background-color: #757575;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}