:root{
    --accent-color: rgb(74, 187, 74);
    --light-accent: rgb(122, 229, 122);
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #202020;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.controls{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #353535;
    z-index: 10;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.controls .add-btn{
    background-color: var(--accent-color);
    width: 100%;
    border-radius: 4px;
    color:white;
    padding: 2px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: transform;
    transition: all .15s ease;
}

.controls .add-btn.disabled{
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}

.save-load-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: fit-content;
}

.save-load-wrapper .save-btn,
.save-load-wrapper .load-btn,
.save-load-wrapper .export-btn{
    background-color: var(--accent-color);
    width: calc(33.3% - 5px);
    height: 30px;
    border-radius: 4px;
    color:white;
    padding: 2px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: transform;
    transition: all .15s ease;
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #606060;
    overflow: hidden;
}

.tools div{
    flex: 1;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    transition: all .15s ease;
    cursor: pointer;
}

.tools div i{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.tools div:hover{
    background-color: #707070;
}

.tools div.active{
    background-color: var(--accent-color);
}

#insert{
    width: 100%;
    height: 30px;
    background-color: #202020;
    border-radius: 4px;
    border:none;
    color:white;
    margin-top: 10px;
    outline: none;
    padding: 0 5px;
}

.insert-btn{
    background-color: var(--accent-color);
    width: 100%;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    color:white;
    padding: 2px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: transform;
    transition: all .15s ease;
}


hr{
    width: 100%;
    height: 1px;
    background-color: #707070;
    margin: 10px 0;
}

.inspector{
    background-color: #707070;
    width: 100%;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-radius: 4px;
}

.edit-menu{
    background-color: #707070;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}

.edit-menu.empty{
    height: 40px;
}

.edit-menu .menu{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.edit-menu .none{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.edit-menu .menu.hidden,
.edit-menu .none.hidden,
.edit-menu .menu .input-wrapper.hidden{
    display: none;
}

.edit-menu .menu .input-wrapper{
    width: 100%;
    height: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-top: 10px;
}

.edit-menu .menu .input-wrapper label{
    min-width: 0;
    flex: 1;
    height: 20px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 14px;
}

.edit-menu .menu .input-wrapper input{
    flex: 2;
    min-width: 0;
    height: 30px;
    background-color: #909090;
    outline: none;
    border: none;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 0 10px;
}

.edit-menu .menu .input-wrapper input[type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    padding: 0;
}

.edit-menu .menu .type{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    color:white;
    font-size: 12px;
    background-color: var(--accent-color);
}

.input-sequence{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    height: 30px;
    background-color: #909090;
    outline: none;
    border: none;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

canvas{
    width: 100%;
    height: 100%;
    cursor: grab;
}

.window-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.window-overlay.hidden{
    opacity: 0;
    pointer-events: none;
}

.settings-window{
    width: 400px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 105;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.settings-window.hidden{
    transform: scale(0.75);
    opacity: 0;
    pointer-events: none;
}

.settings-window .header{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    background-color: var(--accent-color);
}

.settings-window .content{
    width: 100%;
    height: calc(100% - 35px);
    padding: 10px;
}

/* ANCHOR Ripple */

.ripple-btn{
    position: relative !important;
    overflow: hidden !important;
    z-index: 0 !important;
    user-select: none !important;
    cursor: pointer !important;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation-name: ripple;
    animation-duration: 600ms;
    animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 200;
    opacity: 1;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}