body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #454545;
    overflow: auto;
}

body::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: rgba(0,0,0,.5);
}

body::-webkit-scrollbar-thumb{
    background-color: #fff;
}

*{
    box-sizing: border-box;
    user-select: none !important;
    font-family: 'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

#original-image{
    display:none;
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    z-index: 1;
    pointer-events: none;
}

#canvas{
    z-index: 5;
    width: 100% !important;
    height: 100% !important;
}

.controls{
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: #353535;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.15);
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

.controls .solve-btn,
.controls .mix-btn{
    width: 75px;
    height: 30px;
    margin-right: 10px;
    font-family: 'Poppins',sans-serif;
    background-color: green;
    color:white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.controls select{
    width: 200px;
    height: 30px;
    margin-right: 10px;
    font-family: 'Poppins',sans-serif;
    background-color: #000;
    color:white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    outline: none;
}

.controls .divider{
    margin-right: 10px;
    width: 2px;
    height: calc(100% - 20px);
    background-color: #707070;
}

.controls span{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin-right: 10px;
}