html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #404040;
    overflow: hidden;
}

.babylonUnmuteIcon{
    z-index: 5 !important;
}

*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

#app{
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

#app .top-bar{
    width: 100%;
    height: 40px;
    background-color: #212328;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.1);
    border-bottom: 2px solid #060608;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}

#app .top-bar .logo{
    width: 35px;
    height: 35px;
    display:flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

#app .top-bar .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#app .top-bar .nav-item{
    height: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 10px;
    color:white;
    border-radius: 4px;
    transition: all .25s ease;
    cursor: pointer;
    position: relative;
    user-select: none;
}

#app .top-bar .nav-item .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: fit-content;
    z-index: 10;
    background-color: #424756;
    border-radius: 0px 4px 4px 4px;
    opacity: 0;
    pointer-events: none;
    will-change: transform;
    transform: translateY(10px);
    transition: all .25s ease;
    box-shadow: 0 0 12px 2px rgba(0,0,0,.1);
    overflow: hidden;
}

#app .top-bar .nav-item.expanded .dropdown{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

#app .top-bar .nav-item .dropdown .dropdown-item{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    transition: all .25s ease;
}

#app .top-bar .nav-item .dropdown .dropdown-item:hover{
    background-color: #525a72;
}

#app .top-bar .nav-item .dropdown .dropdown-item .name{
    color: #EEE;
    font-size: 15px;
    pointer-events: none;
}

#app .top-bar .nav-item .dropdown .dropdown-item .shortcut{
    color: #DDD;
    opacity: .7;
    font-size: 14px;
    pointer-events: none;
}

#app .top-bar .nav-item .dropdown .divider{
    height: 2px;
    width: calc(100% - 10px);
    margin-left: 5px;
    background-color: #525a72;
    margin-top: 5px;
    margin-bottom: 5px;
}

#app .top-bar .nav-item:hover{
    background-color: #3c414b;
}

#app .top-bar .nav-item.expanded{
    background-color: #3c414b;
    border-radius: 4px 4px 0px 0px;
}

#app .tool-box{
    width: 220px;
    height: calc(100% - 40px);
    background-color: #212328;
    float: left;
    border-right: 2px solid #060608;
}

#app .fps{
    position: absolute;
    z-index: 10000;
    top: 50px;
    right: 220px;
    width: auto;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-family: 'Poppins',sans-serif;
    background-color: #212328;
    border-top: 2px solid #060608;
    border-bottom: 2px solid #060608;
    border-left: 2px solid #060608;
    border-radius: 4px 0px 0px 4px;
    display:block;
    pointer-events: none;
}

#app .fps.hidden{
    display:none;
}

#app .tool-box .search-wrapper{
    border-bottom: 2px solid #060608;
    height: 30px;
    width: 100%;
    background-color: #191a1d;
    user-select: all !important;
}

#app .tool-box .search-wrapper input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0 5px;
    line-height: 30px;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:white;
    user-select: all !important;
    pointer-events: all;
}

#app .tool-box .search-wrapper input::-webkit-input-placeholder,
#app .tool-box .search-wrapper input::-moz-placeholder{color: #ccc;opacity: 1;}

#app .tool-box .category-wrapper{
    height: 30px;
    width: 100%;
    background-color: #212328;
    transition: all .3s ease;
}

#app .tool-box .category-wrapper .category-header{
    background-color: #2a2d34;
    line-height: 30px;
    height: 30px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 5px;
    border-bottom: 2px solid #060608;
    cursor: pointer;
    user-select: none;
}

#app .tool-box .category-wrapper .category-header span{
    color: #DDD;
}

#app .tool-box .category-wrapper .category-header i{
    color: #fff;
    will-change: transform;
    transition: all .25s ease;
}

#app .tool-box .category-wrapper.expanded .category-header i{
    transform: rotate(180deg);
}

#app .tool-box .category-wrapper .category-content{
    height: 0px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all .3s ease;
    border-bottom: 2px solid #060608;
}

#app .tool-box .category-wrapper.expanded .category-content{
    opacity: 1;
    pointer-events: all;
}

#app .tool-box .category-wrapper .category-content .brick-item{
    width: 95px;
    margin-left: 8px;
    height: 95px;
    background-color: #3c414b;
    border-radius: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.1);
    transition: all .3s ease;
    user-select: none;
    overflow: hidden;
    float: left;
    position: relative;
}

#app .tool-box .category-wrapper .category-content .brick-item:hover{
    transform: translateY(-3px) translateZ(0);
}

#app .tool-box .category-wrapper .category-content .brick-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

#app .tool-box .category-wrapper .category-content .brick-item .name{
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: fit-content;
    left: 0;
    right: 0;
    text-align: center;
    color:white;
    white-space: nowrap;
    max-width: calc(100% - 10px);
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    margin-left: 5px;
}

#app #editor{
    outline: none !important;
    border: none !important;
    float: left;
    width: calc(100% - 440px);
    height: calc(100% - 40px);
    transition: all .3s ease;
}

#app .inspector{
    width: 220px;
    height: calc(100% - 40px);
    float: left;
    background-color: #212328;
    transition: all .3s ease;
    border-left: 2px solid #060608;
}

#app .inspector .inspector-elements{
    width: calc(100% - 20px);
    height: 250px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #2a2d34;
    overflow: auto;
}

#app .inspector .inspector-elements::-webkit-scrollbar{
    width:0px;
}

#app .inspector .inspector-elements .inspector-item{
    margin-left: 5px;
    width: calc(100% - 10px);
    margin-top: 5px;
    background-color: #4a505c;
    border-radius: 4px;
    padding: 2px 5px;
    color:white;
}

#app .inspector hr{
    height: 2px;
    margin-top: 10px;
    background-color: #060608;
    border:none;
    outline: none;
}

#app .inspector .inspector-properties{
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-left: 10px;
    height: calc(100% - 270px);
}

#app .inspector .inspector-properties .color-select{
    width: 100%;
    background-color: #2a2d34;
    border-radius: 4px;
    height: 35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
}

#app .inspector .inspector-properties .color-select.expanded{
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #060608;
}

#app .inspector .inspector-properties .color-select .dropdown{
    position: absolute;
    top: calc(100% + 2px);
    background-color: #2a2d34;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.1);
    height: fit-content;
    max-height: 200px;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    will-change: transform;
    transition: opacity .25s ease, transform .3s ease;
    overflow: auto;
}

#app .inspector .inspector-properties .color-select .dropdown::-webkit-scrollbar{width: 0;}

#app .inspector .inspector-properties .color-select.expanded .dropdown{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

#app .inspector .inspector-properties .color-select .dropdown .category{
    height: 30px;
    line-height: 30px;
    color:white;
    text-align: center;
    width: 100%;
    font-size: 14px;
    background-color: #4a505c;
    border-bottom: 2px solid #060608;
}

#app .inspector .inspector-properties .color-select .dropdown .item{
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
    transition: all .25s ease;
    cursor: pointer;
    overflow: hidden;
}

#app .inspector .inspector-properties .color-select .dropdown .item.active{
    display:none;
}

#app .inspector .inspector-properties .color-select .dropdown .item:hover{
    background-color: #3c414b;
}

#app .inspector .inspector-properties .color-select .dropdown .item .color{
    height: 18px;
    width: 18px;
    border-radius: 4px;
    margin-right: 10px;
    flex-shrink: 0;
}

#app .inspector .inspector-properties .color-select .dropdown .item .name{
    color: white;
    font-size: 14px;
    font-weight: 300;
    max-width: calc(100% - 28px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#app .inspector .inspector-properties .color-select .value{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

#app .inspector .inspector-properties .color-select .value .color{
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background-color: green;
    margin-right: 10px;
}

#app .inspector .inspector-properties .color-select .value .name{
    color:white;
    font-weight: 300;
    font-size: 14px;
    max-width: calc(100% - 48px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#app .inspector .inspector-properties .color-select .arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    color:white;
    font-size: 22px;
    display:flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    transition: transform .25s ease;
}

#app .inspector .inspector-properties .color-select.expanded .arrow{
    transform: rotate(180deg);
}