html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

*{
    outline: none !important;
    font-family: 'Nunito',sans-serif;
}

.loader{
    z-index: 500;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #404040;
    transition: all .25s ease;
    opacity: 1;
    pointer-events: all;
}

.loader.hidden{
    opacity: 0;
    pointer-events: none;
}

.loader img{
    width: 100px;
    height: 100px;
    position: fixed;
    inset: 0;
    border-radius: 50%;
    background-color: #505050;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 16px 2px rgba(0,0,0,0.2);
}

.loader span{
    inset: 0;
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 44px;
    color:#87e15b;
    font-weight: bolder;
    margin: auto;
}

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    right: 0;
    height: 50px;
    background-color: #505050;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.25);
}

.right-bar{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 300px;
    height: calc(100% - 50px);
    z-index: 20;
    background-color: #606060;
    box-shadow: 0 0 16px 2px rgba(0,0,0,.25);
}

.properties-inspector{
    width: 100%;
    height: calc(100% - 250px);
    background-color: #606060;
}

.properties-inspector .tab-wrapper{
    width: 40px;
    height: 100%;
    float:left;
    background-color: #505050;
    box-shadow: inset 0 0 16px 1px rgba(0,0,0,.25);
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.properties-inspector .tab-wrapper .tab-item{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #707070;
    cursor: pointer;
    border-radius: 6px 0px 0px 6px;
    transition: all .25s ease;
}

.properties-inspector .tab-wrapper .tab-item.active{
    background-color: #8bc75a !important;
}

.properties-inspector .tab-wrapper .tab-item:hover{
    background-color: #73a34b;
}

.properties-inspector .tab-content{
    width: calc(100% - 40px);
    height: 100%;
    float: left;
}

.properties-inspector .tab-content .window{
    display:none;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.properties-inspector .tab-content .window .property-group{
    height: fit-content;
    width: 100%;
}

.properties-inspector .tab-content .window .property-group-title{
    width: 100%;
    height: 25px;
    cursor: pointer;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 25px;
    padding: 0px 5px;
    color:white;
    border-bottom: 2px solid #404040;
    font-size: 16px;
}

.properties-inspector .tab-content .window .property-group-title img{
    margin-right: 2.5px;
    height: 20px;
    width: 20px;
    transform: rotate(0deg);
    transition: all .25s ease;
}

.properties-inspector .tab-content .window .property-group-title.hidden img{
    transform: rotate(-90deg);
}

.properties-inspector .tab-content .window .property-group-content{
    width: 100%;
    height: fit-content;
    background-color: #454545;
    padding: 5px 0px;
}

.properties-inspector .tab-content .window .property{
    width: calc(100% - 20px);
    margin-left: 5px;
    margin-bottom: 4px;
    padding: 4px 5px;
    display:flex;
    justify-content: space-between;
    color:white !important;
    border-radius: 4px;
    align-items: center;
}

.properties-inspector .tab-content .window .property .input input{
    background-color: #303030;
    border-radius: 4px;
    padding: 0px 5px;
    color:white;
    font-family: 'Nunito',sans-serif;
    border: none;
    outline: none;
}

.properties-inspector .tab-content .window.active{
    display:block;
    pointer-events: all;
}

.scene-inspector{
    width: 100%;
    height: 250px;
    overflow:hidden;
    background-color: #353535;
}

.scene-inspector .inspector-item.active{
    background-color: #8bc75a !important;
}

.scene-inspector .inspector-item{
    height: 30px;
    width: 100%;
    background-color: #505050;
    padding: 0px 5px;
    transition: all .25s ease;
    line-height: 30px;
    cursor: pointer;
    color:white !important;
}

.scene-inspector .inspector-item:hover{
    background-color: #73a34b !important;
}

.scene-inspector .inspector-item .icon img{
    margin-top: 5px;
    width: 20px;
    height: 20px;
    float:left;
    filter: invert(78%) sepia(65%) saturate(376%) hue-rotate(40deg) brightness(86%) contrast(85%);
    margin-right: 5px;
    transition: all .25s ease;
}

.scene-inspector .inspector-item:hover .icon img,
.scene-inspector .inspector-item.active .icon img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(284deg) brightness(107%) contrast(100%);
}

.scene-inspector .inspector-item:nth-child(2n){
    background-color: #303030;
}

#renderCanvas {
    touch-action: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 300px;
    bottom: 0;
    height: calc(100% - 50px);
    width: calc(100% - 300px);
    z-index: 10;
}